@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

:root {
  font-family: Oswald, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #E5E5E5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 2rem 0;
  min-width: 320px;
  min-height: calc(100vh - 4rem);
}
